.name {
    color: rgb(203, 254, 222);;
    position: relative;
    z-index: 2;
    font-size: 10px;
}

.name:hover{
    text-shadow: 0 0.1rem 0.4rem rgb(64, 255, 0);
}

.text {
    color:rgb(203, 254, 222);
    position: relative;
    z-index: 2;
    font-size: 12px;
}

.click {
    background-color: rgb(203, 254, 222);
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 2;
    font-size: 15px;
    float: right;
    cursor: pointer;
    border-radius: 10px;
    margin: 5px;
}

.click:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(255, 0, 0);
    text-shadow: 0 0.1rem 0.4rem rgb(255, 0, 0);
}

.img {
    width: 250px;
    border-radius: 20px;
}

.todo {
    transition: all 0.3s ease;
    background-color: #00ff1e82;
    margin: 10px;
    border-radius: 0.5rem;
    padding: 0.20rem 0rem;
    width: 312px;
    float: left;
    position: relative;
}

.todo:hover {
    box-shadow: 0 0.1rem 0.4rem rgb(64, 255, 0);
}